# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Logs
*.log

# OS files
.DS_Store

# Build / cache
build/
dist/
.eggs/

# Node
node_modules/

# Environment variables
.env
